@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #272727;
}

/* headings and logo styling */

h1,
h2,
h3,
h4 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: forestgreen;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

#logo:hover {
    color: forestgreen;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid forestgreen;
    color: forestgreen;
    font-size: 110%;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

footer {
    /* height: 100px; */
    width: 100%;
    background-color: #5cbb8b;
    text-align: left;
    padding: 2px;
    text-transform: uppercase;
    /* position: fixed; */
    /* left: 0; */
    bottom: 0;
    /* overflow: hidden; */
}

.footer-text{
    padding:0;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: black;
    font-size: 160%;
    margin: 1%;
    text-align: right;
}

footer p{
    color: black;
}

/* #footer li{
    /* display: flex;
    flex-direction: row;
} */

/* hero image */

#hero-cover,
#hero-cover h2 {
    color: #fff;
}

#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-cover {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    /* height: 200px; */

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(111, 241, 107, 0.8);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/cannamed1.png') no-repeat center center;

/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode:forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* main info styling */
#main-info {
    background-color: blanchedalmond;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main-info h2 {
    color: forestgreen;
}

/* patient journey styling */
.steps {
    width: calc(100%/3);
    background-color: rgba(73, 75, 73, 0.6);
    color: white;
    /* float: left; */
    margin: 5px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    padding: 1em;
}

#patient-steps {
    display: flex;
    flex-direction: row;
}

.steps li {
    list-style-type: none;
}

#patient-journey {
    width: 100%;
    padding: 0;
    background: white url('../images/cbdbanner-1.webp') no-repeat center center;
}


#patient-journey h2, h4{
    color: white;
}

/* #starting{
    padding-top: 30px;
    width: 33%;
    float: left;
    margin:0 1px;
    display: inline-block;
} */

/* #preparing{
    padding-top: 30px;
    width: 33%;
    margin:0 1px;
    display: inline-block;
} */

/* #consult{
    padding-top: 30px;
    width: 33%;
    float: right;
    margin:0 auto;
    display: inline-block;
} */


/* testimonials */

#testimonials {
    width: 100%;
    text-align: left;
    border: 1px solid blue;
    background-color: yellow;
    color: #252525;
    margin: 0;
    padding: 1px;
}

.quotes {
    display: inline;
    color: #252525;
}

.quotes p{
    width: 25%;
    display: inline-block;
}

/* gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* contact form */
.contact-us {
    clear: left;
    background: url('../images/medicinal-cannabis.webp');
    background-size: cover;
    background-position: center;
    height: 900px;
}
    
.contact-form{
    margin:150px 10% 0 0;
    color:#fff;
    background-color:hsla(0, 0%, 13%, 0.6);
    max-width:500px;
    position:absolute;
    left:10%;
    padding:30px;
}
    
.contact-form > h2{
    color:#fafafa;
    margin-bottom:20px;
}
    
.text-input{
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;    
}
    
.text-input:hover{
    border:2px solid #148370;
}
    
.join-button{
    margin-top:20px;
    border-radius:2px;
    padding: 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#0d8502;
    color:#fafafa;
    display:block;
}
    
.join-button:hover{
    background-color:#fafafa;
    color:#64c251;
}