@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #272727;
}
/* headings and logo styling */
h1,
h2,
h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: forestgreen;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}
#logo:hover {
    color: forestgreen;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}
#menu,
#logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 2px solid forestgreen;
    color: forestgreen;
    font-size: 110%;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
footer {
    background-color: #5cbb8b;
    padding: 2px;
    bottom: 0;
    text-align: center;
}
.footer-text {
    font-family: Oswald, sans-serif;
    letter-spacing: 8px;
    color: black;
    font-size: 180%;
    /* margin: 2%; */
    /* border: 1mm ridge rgba(79, 196, 25, 0.7); */
}
.footer-text a,
.footer-text a i {
    text-decoration: none;
}
footer p {
    color: black;
}
footer i {
    padding: 10px;
    border: 5px;
}

/* hero image */
#hero-cover,
#hero-cover h2 {
    color: #fff;
}
#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-cover {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 40px 10px;
    background-color: rgba(111, 241, 107, 0.8);
    bottom: 30px;
    position: absolute;
    margin: 0 2em;
    max-width: 75%;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/weeeeeed.webp') no-repeat center center;
    background-size: cover;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
/* main info styling */
#main-info {
    background-color: #e4f1cc;
    padding: 1em;
}
.center {
    width: 100%;
    margin: 1em auto;
}
#main-info h2 {
    color: forestgreen;
    text-transform: uppercase;
}
/* patient journey styling */

#patient-journey {
    padding: 1em;
    background-color: #e4f1cc;
}
#patient-journey,
#conditions,
#testimonials h2 {
    color: forestgreen;
}
.start {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-weight: 400;
}
.start p {
    padding: 1em 0;
}
.start img {
    width: 100%;
    padding: 1em 0;
}
.step-2-img {
    order: 2;
}
blockquote {
    background-color: #bdf58f;
    text-align: center;
    padding: 20px;
    width: calc(100% - 2em);
}

/* testimonials */
#testimonials {
    background-color: rgb(172, 243, 176);
    color: #000000;
    margin: 2px;
    padding: 5px;
    display: inline-block;
}
.quote {
    display: flex;
    flex-direction: column;
}
.quotes {
    color: #000000;
    text-align: left;
    padding: 10px;
}

q {
    color: rgb(5, 56, 63);
    font-style: italic;
    display: inline-block;
    font-weight: 400;
}
/* gallery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
#photos > img {
    width: 100%;
}
/* contact form */
.contact-us {
    clear: left;
    background: url('../images/medicinal-cannabis.webp');
    background-size: cover;
    background-position: center;
    height: 900px;
}
.contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: hsla(0, 0%, 13%, 0.6);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input:hover {
    border: 2px solid #148370;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #0d8502;
    color: #fafafa;
    
}
.join-button:hover {
    background-color: #fafafa;
    color: #64c251;
}
hr {
    border-top: 1px solid #2c2c2c;
    width: 100%;
    margin: 5px 0;
}
#conditions {
    padding: 1em;
    border: 2px solid rgba(80, 236, 190, 0.6);
    background-color: rgba(145, 212, 195, 0.6);
    color: inherit;
}
#conditions ul {
    border: 2px solid rgba(80, 236, 190, 0.6);
    display: inline-block;
    *display: inline;
    zoom: 0;
    text-align: center;
    padding: 1em;
}
#conditions li {
    text-align: center;
    background-color: rgba(145, 212, 195, 0.6);
    color: #020202;
    padding: 2px;
    list-style: none;
    text-transform: uppercase;
    padding: 1em;
}

#conditions h3{
    padding: 0.5em;
}
.faq p {
    margin: 1em 0;
}
.faq p strong {
    line-height: 2;
}

@media (min-width: 450px){
    #photos {
        clear: both;
        line-height: 0;
        column-count: 1;
        column-gap: 0;
}

/* testing hamburger */
@media (min-width: 300px){
    
}
/* end of hamburger */

@media (min-width: 750px) {
    #hero-cover {
        margin: 0 5em;
        max-width: 45%;
    }
    .center {
        max-width: 75%;
        margin: 1em 6em;
    }
    .start img {
        width: 65%;
    }

    #photos {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 0;
    }
}
@media (min-width: 950px) {
    .start {
        flex-direction: row;
    }
    .start p,
    .start blockquote {
        margin: 0 1em;
    }
    .step-2-img {
        order: 1;
    }
    .step-2-p {
        order: 2;
    }
    .step-2-bq {
        order: 3;
    }
    #photos {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0;
    }
}

@media (min-width: 1200px) {
    .quote{
        flex-direction: row;
    }
    #menu{
        clear: none;
        float: none;
    }
    #photos {
        clear: both;
        line-height: 0;
        column-count: 4;
        column-gap: 0;
    }
}