@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 1px;
    padding: 0;
    border: none;
}
body{
    font-family: Roboto, sans-serif; 
    font-weight: 300;
    color:#3a3a3a;                                                           
}

/* headings and logo styling */

h1, h2, h3, h4{
    font-family: Oswald, sans-serif;
    text-transform:uppercase;
    letter-spacing: 4px;
    color: forestgreen;
}

#logo{
    float:left;
    font-size: 280%;
    margin-left: 20px;
}

#logo:hover{
    color: forestgreen;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo{
    line-height: 75px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;

}
#menu a:hover{
    border-bottom: 2px solid forestgreen;
    color: forestgreen;
    font-size:110%;

}
.active{
    border-bottom: 1px solid #3a3a3a;
}

footer {
    height: 100px;
    width: 100%;
}

.socials{
    text-align: center;
}

.socials > li{
    display: inline;
}

.socials i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
/* hero image */

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/cannamed1.png') no-repeat center center;



/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode:forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* main info styling */
#main-info{
    background-color: blanchedalmond;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main-info h2{
    color: forestgreen;
    
}

/* patient journey styling */

.steps{
    height: 600px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: ('../images/CBDBanner-1.webp') no-repeat center center;
    background-color: bisque ;
}

#patient-journey{
    height: 600px;
    width: 100%;
    display: inline;
    padding: 0;
    margin: 2px;
    overflow: hidden;
}

#starting{
    padding-top: 30px;
    width: 33%;
    float: left;
    margin:0 1px;
    display: inline-block;
}

#preparing{
    padding-top: 30px;
    width: 33%;
    margin:0 1px;
    display: inline-block;
}

#consult{
    padding-top: 30px;
    width: 33%;
    float: right;
    margin:0 1px;
    display: inline-block;
}


/* testimonials */

#testimonials{
    width: 100%;
    height: 300px;
    text-align: left;
    border: 1px solid blue;    
    background-color: yellow;
    color:#252525;
    margin: 0;
    padding: 1px;
}

.quotes{
    display: inline;
}
